exclude: ".git"

repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
    - id: markdownlint
      args:
        - "docs/*"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.4.0
    hooks:
      - id: cspell
        args: ["-c", "./cspell/cspell.json", "--show-suggestions"]

  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs-build
        entry: bash -c 'make build'
        language: system
